
.searchInput{
  background-color: rgb(243, 243, 243);
  padding: 5px 10px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  transition: .2s ease;
  gap: 10px;
} 




.searchInput > input{
  border: none !important;
  outline: none !important;
  background-color: transparent;
  padding: 3px;
  width: 100%;
  transition: .2s ease;
}

.searchInput:focus-within {
  box-shadow: 0 0 0 3px #1d439686;
}